version: 2.1

jobs:
  test:
    parameters:
      version:
        type: string

    # The resource_class feature allows configuring CPU and RAM resources for each job. 
    # Different resource classes are available for different executors. 
    # https://circleci.com/docs/2.0/configuration-reference/#resourceclass
    resource_class: "large"

    docker:
      - image: cimg/elixir:<< parameters.version >>-node

    environment:
      MIX_ENV: test

    working_directory: /home/circleci/repo
    steps:
      - checkout
      - run: mix --version
      - restore_cache:
          keys:
            - elixir-build-<< parameters.version >>-{{ checksum "mix.lock" }}
      - restore_cache:
          keys:
            - elixir-plt-<< parameters.version >>-{{ checksum "mix.lock" }}
      - run: mix local.hex --force
      - run: mix local.rebar --force
      - run: mix deps.get
      - run: mix compile --warnings-as-errors
      - save_cache:
          key: elixir-build-<< parameters.version >>-{{ checksum "mix.lock" }}
          paths:
            - "_build"
            - "deps"
            - "~/.mix"
      - run: mix test
      - run: mix format --check-formatted
      - run: mix credo
      - save_cache:
          key: elixir-plt-<< parameters.version >>-{{ checksum "mix.lock" }}
          paths:
            - "priv/plts"
      - run: mix dialyzer

workflows:
  all-tests:
    jobs:
      - test:
          matrix:
            parameters:
              version: ["1.15", "1.16"]
